@charset "UTF-8";
@import "main.css";

#root {
  background-image: url(../images/backgrounds/login.svg);
}

.content .heading {
  font-size: 3.75em;
  margin: 5px;
}

.content .desc {
  font-size: 1.5em;
  letter-spacing: 0.1em;
  margin: 5px;
}

.form1 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

form div {
  width: 28.875em;
  height: 3.125em;
  margin: 0.5em;
}

.text-field {
  position: relative;
  border: 1px solid white;
  background-color: transparent;
}

.text-input {
  color: white;
  font-size: 1em;
  font-weight: 500;
  border: transparent;
  background-color: transparent;
  padding: 0 40px 0 10px;
  height: 100%;
  width: 100%;
}

.text-field input[type="text"]:focus-visible {
  box-shadow: 0 0 5px white;
  background-color: transparent;
  outline: transparent;
}

::placeholder {
  color: white;
  opacity: 1;
}

.hint-img {
  position: absolute;
  bottom: 0.6em;
  right: 0.9em;
  font-style: italic;
  background-color: #b91213;
  border-radius: 30px;
  width: 1.5em;
  height: 1.5em;
}

.submitBtn1 {
  font-weight: 500;
  font-size: 1.125em;
  color: white;
  border: none;
  border-radius: 25px;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom, #f80705, #7b1e1d);
}

button.submitBtn1 img {
  width: 1.0213em;
  height: 1.0213em;
}

.submitBtn1:hover {
  cursor: pointer;
}
