:root {
  --box-sizing: border-box;
  --eu-font-color-main: rgb(255, 255, 255);
  --eu-font-size-xs: 7px;
  --eu-font-size-sm: 8px;
  --eu-font-size-md: 9px;
  --eu-font-size-lg: 11px;
  --eu-font-size-xl: 16px;
  --eu-breakpoint-xs: 365px;
  --eu-breakpoint-sm: 600px;
  --eu-breakpoint-md: 786px;
  --eu-breakpoint-md1: 992px;
  --eu-breakpoint-lg: 1200px;
  --eu-breakpoint-xl: 1600px;
  --eu-font-family-main: "Montserrat", sans-serif;
  --eu-button-linear-gradient: linear-gradient(to bottom, #f80705, #7b1e1d);
  --eu-card-linear-gradient-n: linear-gradient(
    to bottom right,
    #3b5667,
    #2c3d48
  );
  --eu-card-linear-gradient-a: linear-gradient(
    to bottom right,
    #d81b24,
    #1a3751
  );
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

#root {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  font-size: 16px;
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

#header1 {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 8em;
  min-height: 10vh;
  padding-top: 1em;
  margin: auto auto 2em auto;
}

.flex {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

.block {
  display: block;
  border-radius: 25px;
}

.logo1 {
  width: 8.6119em;
  min-width: 70px;
  height: 2.1875em;
  min-height: 20px;
  margin-right: 0.8em;
}

.logo2 {
  width: 6.1875em;
  min-width: 65px;
  height: 2.375em;
  min-height: 22px;
  margin-left: 0.8em;
}

.vertical-align {
  vertical-align: sub;
}

.info {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: space-around;
  justify-content: flex-start;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(17, 52, 70, 0.6);
  backdrop-filter: blur(10px);
  border: 1px solid #35515d;
  border-radius: 25px;
  padding-left: 15px;
  padding-top: 0.5em;
}

.info1 {
  width: 12.53em;
  min-width: 110px;
  height: 2.3125em;
  min-height: 18px;
  margin-right: 0.5em;
}
.info2 {
  width: 9.5625em;
  min-width: 80px;
  height: 2.3125em;
  min-height: 18px;
  margin-left: 0.5em;
}

.info1 img {
  margin: 0 10px 0px 0;
  width: 1.375em;
  height: 1em;
}
.info2 img {
  margin: 0 5px 0 0;
  width: 1.0788em;
  height: 1.1506em;
}
.context {
  font-size: 1em;
  vertical-align: bottom;
  margin: 0;
}

.container {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  min-height: 90%;
  padding-bottom: 4em;
  position: relative;
}

#content-body1 {
  position: static;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  margin-top: 8%;
}

.content-box {
  backdrop-filter: blur(25px);
  background-color: rgba(17, 52, 70, 0.6);
  border: 2px solid #35515d;
  border-radius: 15px;
  width: 56.8125em;
  height: 25.625em;
  padding: 1.5625em 8em 3.75em 8em;
}

.content {
  color: white;
  display: flex;
  flex-flow: column nowrap;
  font-weight: 500;
  justify-content: space-around;
  text-align: center;
  padding: 2.5em 0 2.5em 0;
}

.inline-block {
  display: inline-block;
  margin: 0.3em;
}

.hide {
  display: none;
}

.exitBtn:active {
  background-image: linear-gradient(to bottom, #f80705, #7b1e1d);
}
.exitBtn {
  background-color: transparent;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 600px) {
  #root {
    font-size: var(--eu-font-size-xs);
    overflow-x: hidden;
  }
  #heading1 {
    justify-content: space-around;
  }
  #content-body1 {
    width: 100vw;
    height: 90%;
  }
  #content-body1 .flex {
    flex-flow: column-reverse nowrap;
  }
}

@media screen and (min-width: 600px) {
  #root {
    font-size: var(--eu-font-size-sm);
  }
}

@media screen and (min-width: 992px) {
  #root {
    font-size: var(--eu-font-size-md);
  }
}

@media screen and (min-width: 1240px) {
  #root {
    font-size: var(--eu-font-size-lg);
  }
}

@media screen and (min-width: 1600px) {
  #root {
    font-size: var(--eu-font-size-xl);
  }
}
