@charset "UTF-8";
@import "main.css";

#root {
  background-image: url(../images/backgrounds/menu.svg);
}

#content-body1 {
  margin-top: 7em;
}

.content {
  padding-bottom: 4.5em;
}

.content-text {
  margin: 0 auto 10px auto;
  text-align: center;
}
.content p:first-child {
  font-size: 1.875em;
}

.content p:last-child {
  font-size: 3.75em;
  letter-spacing: 3px;
}

.image {
  height: 8.5625em;
  margin-top: 2em;
  width: 8.5625em;
}

.label {
  color: rgb(255, 255, 255, 0.5);
  font-size: 2em;
  margin-left: -1.375em;
  margin-top: 1.3125em;
}

.label-w {
  color: var(--eu-font-color-main);
}

.flex-item {
  align-items: center;
  /* background-image: linear-gradient(to bottom right, #3b5667, #2c3d48); */
  background: url(../images/icons/menu/Mask2.svg) no-repeat center center;
  background-size: 100%;
  border-radius: 15px;
  display: flex;
  flex-flow: column nowrap;
  height: 21.875em;
  justify-content: space-around;
  padding: 0 0px 0 1px;
  /* margin: 5px 5px 5px 5px; */
  margin: 0.3125em;
  width: 17.59em;
}

.active {
  /* background-image: linear-gradient(to bottom right, #d81b24, #1a3751); */
  background: url(../images/icons/menu/Mask1.svg) no-repeat center center;
  background-size: 100%;
}
